html {
  position: relative;
  min-height: 100%;
}


body {
  font-family: Arvo, serif;
  background: url("image.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}



.jumbotron {
  background-color: transparent;
  text-align: center;
  letter-spacing: 2.5px;
  padding: 10px;
  margin-top: 150px;
}


.signup {
  margin-top: 50px;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

#myContainer{
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

#myContainer > div {
  margin-top: 2rem;
  letter-spacing: 3px;
}

.headingAndPic{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.headingAndPic > div {
  width: max-content;
}

.homeHeading {
  white-space: nowrap;
}

.homeHeading > h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  font-weight: 900;
}

.homeHeading > h3 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-style: italic;
}

.riderTable{
  text-align: center;
}

.riderProf{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riderProf > div {
  margin-top: 4rem;
  font-size: 1.2rem;
}


table, th, td{
  letter-spacing: 2px;
}

.driverTable{
  text-align: center;
}

.driverProf{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.driverProf > div {
  margin-top: 4rem;
  font-size: 1.2rem;
}

.trip{
  margin-top: 3rem;
}

.journey > div {
  margin-top: 1rem;
  letter-spacing: 2px;
}

.price > div {
  margin-top: 1rem;
  letter-spacing: 2px;
}

.del-btn{
  margin-top: 3rem;
}

.trip{
  margin-left: 10rem;
}

.createRide{
 margin-left: 20rem;
 margin-top: 10rem;
}

.logIn{
  text-decoration: none;
}

#searchRide{
  margin-left: 10rem;
}


.sortsearchrides{
  display: flex;
  flex-direction: row;
  margin-left: 25rem;
  margin-top: 5rem;
}

.sortBtn{
  margin-left: 3rem;
}

#ridelist{
  width: 120%;
  margin-left: 3rem;
  
}